* {
    margin: 0;
    padding: 0;
}

.nameshop {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    grid-column: col 1 / col 3;
    text-align: start;
    padding-left: 30px;
}
.green{
    grid-column: col 4 / col 5;
    margin-right: 500px;
   
}
.search{
    grid-column: col 3 / col 4;
    justify-content: flex-end;
}
/* @keyframes move {
    0% {
        color: black;
    }

    10% {
        color: #9500ba;
    }

    20% {
        color: #5006b8;
    }

    30% {
        color: #0656b8;
    }

    40% {
        color: #06b8af;
    }

    50% {
        color: #0dbd56;
    }

    60% {
        color: #ccdb2a;
    }

    70% {
        color: #cc8f14;
    }

    80% {
        color: #d91b0d;
    }

    90% {
        color: #73150e;
    }

    100% {
        color: #360909;
    }
} */

.menu {
    display: flex;
    grid-template-columns: repeat(5, [col] 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 5px solid rgb(0, 0, 0);
    justify-content: space-between;
}