*{
    margin: 0;
    padding: 0;
}
.workmenu{
    position: relative;
    display: grid;
    grid-gap: 10px;
    padding-left: 30px;
    background-color: rgba(109, 109, 109, 0.123);
    width: 300px;
    height: 300px;
    border: 5px solid rgb(0, 0, 0);
    border-left: 0;
    z-index: 0;
    margin-top: 150px;
}
.arrow{
    text-align: end;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.Manage-nas{
    font-family:  cursive;
    font-size: 30px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.sort-text{
    font-family:  cursive;
    font-size: 30px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}